---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<!-- ========== HEADER ========== -->
<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7">
	<nav class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-6 md:px-8 mx-auto" aria-label="Global">
	  <div class="md:col-span-3">
		<!-- Logo -->
		<a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="/" aria-label="Preline">
			<h1 style="display: inline" class="text-black dark:text-white">
			<!-- <img src="https://pub-8cc0c9b4d3754a50b24444ec9eddb96b.r2.dev/icon-3c8cd1b9.png" width="48px" height="48px" alt=""> -->
			convertr
		 </h1>
		</a>
		<!-- End Logo -->
	  </div>
	  <!-- Button Group -->
	  <div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
		<!-- <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:hover:bg-white/10 dark:text-white dark:hover:text-white">
		  Sign in
		</button>
		<button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent bg-lime-400 text-black hover:bg-lime-500 transition disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-lime-500">
		Sign Up
		</button> -->
  
		<div class="md:hidden">
		  <button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
			<svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
			<svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
		  </button>
		</div>
	  </div>
	  <!-- End Button Group -->
  
	  <!-- Collapse -->
	  <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6">
		<div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
		  <div>
			<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="/media-converter-services">Services</a>
		  </div>
		  <div>
			<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="/about-us">About</a>
		  </div>
		  <div>
			<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="/blog">Blog</a>
		  </div>
		</div>
	  </div>
	  <!-- End Collapse -->
	</nav>
  </header>
  <!-- ========== END HEADER ========== -->  
<!-- Hero -->
<div class="bg-gradient-to-b from-violet-600/10 via-transparent">
	<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
	  <!-- Announcement Banner -->
	  <!-- <div class="flex justify-center">
		<a class="group inline-block bg-white/10 hover:bg-white/10 border border-white/10 p-1 ps-4 rounded-full shadow-md focus:outline-none focus:ring-1 focus:ring-gray-600" href="/tools/ondevice-media-conversion">
		  <p class="me-2 inline-block text-black dark:text-white text-sm">
			🚀 New: In Browser Conversion Service
		  </p>
		  <span class="group-hover:bg-white/10 py-1.5 px-2.5 inline-flex justify-center items-center gap-x-2 rounded-full bg-white/10 font-semibold text-white text-sm">
			<svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
		  </span>
		</a>
	  </div> -->
	  <!-- End Announcement Banner -->
  
	  <!-- Title -->
	  <div class="max-w-3xl text-center mx-auto">
		<h1 class="block font-medium text-black dark:text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
		  Secure 🔐 File Conversion
		</h1>
	  </div>
	  <!-- End Title -->
  
	  <div class="max-w-3xl text-center mx-auto">
		<p class="text-lg text-gray-400">Now Effortlessly Convert Your Media to Any Format (with Privacy)</p>
	  </div>
  
	  <!-- Buttons -->
	  <div class="text-center">
		<a href="/media-converter-services" class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 shadow-lg shadow-transparent hover:shadow-blue-700/50 border border-transparent text-white text-sm font-medium rounded-full focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-6 dark:focus:ring-offset-gray-800" href="#">
		  Get started
		  <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
		</a>
	  </div>
	  <!-- End Buttons -->
	</div>
  </div><!-- Hero -->
  <div class="relative overflow-hidden">
	<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
	  <div class="max-w-2xl text-center mx-auto">
		<h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl dark:text-white">Designed for you to get more <span class="text-blue-600">simple</span></h1>
		<p class="mt-3 text-lg text-gray-800 dark:text-neutral-400">Effortless File Conversion: Upload, Convert, Download.</p>
	  </div>
  
	  <div class="mt-10 relative max-w-5xl mx-auto">
		<!-- <div class="w-full object-cover h-96 sm:h-[480px] bg-[url('https://images.unsplash.com/photo-1606868306217-dbf5046868d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1981&q=80')] bg-no-repeat bg-center bg-cover rounded-xl"></div> -->
  
		<div class="absolute inset-0 size-full">
		  <div class="flex flex-col justify-center items-center size-full">
			<a class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			  <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"/></svg>
			  View Demo
			</a>
		  </div>
		</div>
  
		<div class="absolute bottom-12 -start-20 -z-[1] size-48 bg-gradient-to-b from-orange-500 to-white p-px rounded-lg dark:to-neutral-900">
		  <div class="bg-white size-48 rounded-lg dark:bg-neutral-900"></div>
		</div>
  
		<div class="absolute -top-12 -end-20 -z-[1] size-48 bg-gradient-to-t from-blue-600 to-cyan-400 p-px rounded-full">
		  <div class="bg-white size-48 rounded-full dark:bg-neutral-900"></div>
		</div>
	  </div>
	</div>
  </div>
  <!-- End Hero -->

  <!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
	<!-- Grid -->
	<div class="grid md:grid-cols-2 gap-12">
	  <div class="lg:w-3/4">
		<h2 class="text-3xl text-gray-800 font-bold lg:text-4xl dark:text-white">
			Wide Range of Supported Formats
		</h2>
		<p class="mt-3 text-gray-800 dark:text-neutral-400">

			We handle all the most popular formats, from documents and presentations to images and audio.
		</p>
		<p class="mt-5">
		  <a class="inline-flex items-center gap-x-1 font-medium text-blue-600 dark:text-blue-500" href="#">
			Free Trial: Experience the Difference.
			<svg class="flex-shrink-0 size-4 transition ease-in-out group-hover:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
		  </a>
		</p>
	  </div>
	  <!-- End Col -->
  
	  <div class="space-y-6 lg:space-y-10">
		<!-- Icon Block -->
		<div class="flex">
		  <!-- Icon -->
		  <span class="flex-shrink-0 inline-flex justify-center items-center size-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
			<svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/></svg>
		  </span>
		  <div class="ms-5 sm:ms-8">
			<h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-neutral-200">
				Documents
			</h3>
			<p class="mt-1 text-gray-600 dark:text-neutral-400">
				Our service supports documents like PDF, PPT, DOC, and more. We can convert them to any format you need.
			</p>
		  </div>
		</div>
		<!-- End Icon Block -->
  
		<!-- Icon Block -->
		<div class="flex">
		  <!-- Icon -->
		  <span class="flex-shrink-0 inline-flex justify-center items-center size-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
			<svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"/><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/></svg>
		  </span>
		  <div class="ms-5 sm:ms-8">
			<h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-neutral-200">
				Images
			</h3>
			<p class="mt-1 text-gray-600 dark:text-neutral-400">
				Convert images to any format you need, including JPG, PNG, SVG, and more. We've got you covered.
			</p>
		  </div>
		</div>
		<!-- End Icon Block -->
  
		<!-- Icon Block -->
		<div class="flex">
		  <!-- Icon -->
		  <span class="flex-shrink-0 inline-flex justify-center items-center size-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
			<svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"/></svg>
		  </span>
		  <div class="ms-5 sm:ms-8">
			<h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-neutral-200">
				Audio
			</h3>
			<p class="mt-1 text-gray-600 dark:text-neutral-400">
				Convert audio files to any audiio format, including MP3, WAV, and more. Simple and fast.
			</p>
		  </div>
		</div>
		<!-- End Icon Block -->
	  </div>
	  <!-- End Col -->
	</div>
	<!-- End Grid -->
  </div>
  <!-- End Icon Blocks -->
   <!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
	<!-- Grid -->
	<div class="grid md:grid-cols-5 gap-10">
	  <div class="md:col-span-2">
		<div class="max-w-xs">
		  <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Frequently<br>asked questions</h2>
		  <p class="mt-1 hidden md:block text-gray-600 dark:text-neutral-400">Answers to the most frequently asked questions.</p>
		</div>
	  </div>
	  <!-- End Col -->
  
	  <div class="md:col-span-3">
		<!-- Accordion -->
		<div class="hs-accordion-group divide-y divide-gray-200 dark:divide-neutral-700">
		  <div class="hs-accordion pb-3 active" id="hs-basic-with-title-and-arrow-stretched-heading-one">
			<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">
				What file formats can you convert?
			  <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
			  <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
			</button>
			<div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">
			  <p class="text-gray-600 dark:text-neutral-400">
				We support a wide range of file formats, including popular document formats (DOC, DOCX, PDF, etc.), presentations (PPT, PPTX), images (JPG, PNG, SVG), audio (MP3, WAV), and more! You can find a complete list of supported formats on our website.

			</p>
			</div>
		  </div>
  
		  <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-two">
			<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
				Is my file safe during conversion
			<svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
			  <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
			</button>
			<div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
			  <p class="text-gray-600 dark:text-neutral-400">
				Absolutely! We take security very seriously. Your files are uploaded using secure protocols and stored on encrypted servers. We also delete them automatically after a set period.

			</p>
			</div>
		  </div>
  
		  <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-three">
			<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three">
				How long does it take to convert a file?
			  <svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
			  <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
			</button>
			<div id="hs-basic-with-title-and-arrow-stretched-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three">
			  <p class="text-gray-600 dark:text-neutral-400">
				Conversion times vary depending on the size and complexity of your file. Most basic conversions happen in minutes.
			</p>
			</div>
		  </div>
  
		  <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-four">
			<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-four">
				How much does it cost?
			<svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
			  <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
			</button>
			<div id="hs-basic-with-title-and-arrow-stretched-collapse-four" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-four">
			  <p class="text-gray-600 dark:text-neutral-400">
				We offer a variety of pricing plans, including a free trial for small conversions.  Check our pricing page for details.
			</p>
			</div>
		  </div>
  
		  <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-five">
			<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five">
				What if I encounter an error during conversion?
				<svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
			  <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
			</button>
			<div id="hs-basic-with-title-and-arrow-stretched-collapse-five" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five">
			  <p class="text-gray-600 dark:text-neutral-400">
				Our system is designed to handle most conversions smoothly. However, if you encounter an error, please don't hesitate to contact our support team for assistance.

			  </p>
			</div>
		  </div>
  
		  <div class="hs-accordion pt-6 pb-3" id="hs-basic-with-title-and-arrow-stretched-heading-six">
			<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six">
				Still have questions?
				<svg class="hs-accordion-active:hidden block flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
			  <svg class="hs-accordion-active:block hidden flex-shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
			</button>
			<div id="hs-basic-with-title-and-arrow-stretched-collapse-six" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six">
			  <p class="text-gray-600 dark:text-neutral-400">
				Contact our friendly customer support team for further assistance. We're happy to help!
			</p>
			</div>
		  </div>
		</div>
		<!-- End Accordion -->
	  </div>
	  <!-- End Col -->
	</div>
	<!-- End Grid -->
  </div>
  <!-- End FAQ -->
   <!-- Hero -->
<div class="relative overflow-hidden">
	<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
	  <div class="text-center">
		<h1 class="text-4xl sm:text-6xl font-bold text-gray-800 dark:text-neutral-200">
			Browse Supported Formats.
		</h1>
  
		<p class="mt-3 text-gray-600 dark:text-neutral-400">
			Our intuitive interface makes conversion a breeze.
		</p>
  
		<div class="mt-7 sm:mt-12 mx-auto max-w-xl relative">
		  <!-- Form -->
		  <form>
			<div class="relative z-10 flex space-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-gray-900/20">
			  <div class="flex-[1_0_0%] ">
				<label for="hs-search-article-1" class="block text-sm text-gray-700 font-medium dark:text-white"><span class="sr-only">Sarch Format</span></label>
				<input name="hs-search-article-1" id="hs-search-article-1" class="py-2.5 px-4 block w-full border-transparent rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-900 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Search Format (coming soon)">
			  </div>
			  <div class="flex-[0_0_auto] ">
				<a class="size-[46px] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="#">
				  <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
				</a>
			  </div>
			</div>
		  </form>
		  <!-- End Form -->
  
		  <!-- SVG Element -->
		  <div class="hidden md:block absolute top-0 end-0 -translate-y-12 translate-x-20">
			<svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
			  <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
			  <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
			  <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
			</svg>
		  </div>
		  <!-- End SVG Element -->
  
		  <!-- SVG Element -->
		  <div class="hidden md:block absolute bottom-0 start-0 translate-y-10 -translate-x-32">
			<svg class="w-40 h-auto text-cyan-500" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
			  <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
			</svg>
		  </div>
		  <!-- End SVG Element -->
		</div>
  
		<div class="mt-10 sm:mt-20">
		  <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			PPT
		  </a>
		  <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			PDF
		</a>
		  <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			JPG
		  </a>
		  <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			PNG
		  </a>
		  <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			MP3
		  </a>
		  <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800" href="#">
			MP4
		  </a>
		</div>
	  </div>
	</div>
  </div>
  <!-- End Hero -->
   <!-- Team -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
	<!-- Title -->
	<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
	  <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Meet the crew</h2>
	  <p class="mt-1 text-gray-600 dark:text-neutral-400">Creative people</p>
	</div>
	<!-- End Title -->
  
	<!-- Grid -->
	<div class="grid grid-cols-2 lg:grid-cols-3 gap-8 md:gap-12">
	  <div class="grid sm:flex sm:items-center gap-y-3 gap-x-4">
		<img class="rounded-lg size-20" src="https://i.ibb.co/hXRxbLj/00100s-PORTRAIT-00100-BURST20230522100358432-COVER-2-1.png" alt="Image Description">
  
		<div class="sm:flex sm:flex-col sm:h-full">
		  <div>
			<h3 class="font-medium text-gray-800 dark:text-neutral-200">
			  Ved Nig
			</h3>
			<p class="mt-1 text-xs uppercase text-gray-500 dark:text-neutral-500">
			  Founder / CEO
			</p>
		  </div>
  
		  <!-- Social Brands -->
		  <div class="mt-2 sm:mt-auto space-x-2.5">
			<a class="inline-flex justify-center items-center text-gray-500 rounded-full hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200" href="https://x.com/vednig">
			  <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
				<path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
			  </svg>
			</a>
			<a class="inline-flex justify-center items-center text-gray-500 rounded-full hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200" href="https://github.com/vednig">
			  <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
				<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
			  </svg>
			</a>
			<a class="inline-flex justify-center items-center text-gray-500 rounded-full hover:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200" href="maailto:vednig@betaco.tech">
			  <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
				<path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
			  </svg>
			</a>
		  </div>
		  <!-- End Social Brands -->
		</div>
	  </div>
	  <!-- End Col -->
  


	  <!-- End Col -->

	  <!-- End Col -->
  
	  <div class="grid sm:flex sm:items-center gap-y-3 gap-x-4">
  
		<div>
		  <h3 class="font-medium text-gray-800 dark:text-neutral-200">
			We are hiring!
		  </h3>
		  <a class="text-sm text-blue-600 decoration-2 hover:underline dark:text-blue-500" href="/careers">
			Check out Careers
		  </a>
		</div>
	  </div>
	  <!-- End Col -->
	</div>
	<!-- End Grid -->
  </div>
  <!-- End Team -->
   
   <!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
	<div class="text-2xl font-light font-bold px-4 py-10  md:text-4xl md:leading-tight dark:text-white">
		What's new in <span class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" >convertr</span> 
	</div>
	<!-- Grid -->
	<div class="grid lg:grid-cols-2 gap-6">
	  <!-- Card -->
	  <a class="group relative block rounded-xl" href="#">
		<div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-gray-900/70">
		  <img class="size-full absolute top-0 start-0 object-cover" src="https://images.unsplash.com/photo-1669828230990-9b8583a877ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1062&q=80" alt="Image Description">
		</div>
  
		<div class="absolute top-0 inset-x-0 z-10">
		  <div class="p-4 flex flex-col h-full sm:p-6">
			<!-- Avatar -->
			<div class="flex items-center">
			  <div class="flex-shrink-0">
				<img class="size-[46px] border-2 border-white rounded-full" src="https://images.unsplash.com/photo-1669837401587-f9a4cfe3126e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
			  </div>
			  <div class="ms-2.5 sm:ms-4">
				<h4 class="font-semibold text-white">
				  Gloria
				</h4>
				<p class="text-xs text-white/80">
				  Jan 09, 2021
				</p>
			  </div>
			</div>
			<!-- End Avatar -->
		  </div>
		</div>
  
		<div class="absolute bottom-0 inset-x-0 z-10">
		  <div class="flex flex-col h-full p-4 sm:p-6">
			<h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/80">
			  Facebook is creating a news section in Watch to feature breaking news
			</h3>
			<p class="mt-2 text-white/80">
			  Facebook launched the Watch platform in August
			</p>
		  </div>
		</div>
	  </a>
	  <!-- End Card -->
  
	  <!-- Card -->
	  <a class="group relative block rounded-xl" href="#">
		<div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-gray-900/70">
		  <img class="size-full absolute top-0 start-0 object-cover" src="https://images.unsplash.com/photo-1611625618313-68b87aaa0626?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="Image Description">
		</div>
  
		<div class="absolute top-0 inset-x-0 z-10">
		  <div class="p-4 flex flex-col h-full sm:p-6">
			<!-- Avatar -->
			<div class="flex items-center">
			  <div class="flex-shrink-0">
				<img class="size-[46px] border-2 border-white rounded-full" src="https://images.unsplash.com/photo-1669837401587-f9a4cfe3126e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
			  </div>
			  <div class="ms-2.5 sm:ms-4">
				<h4 class="font-semibold text-white">
				  Gloria
				</h4>
				<p class="text-xs text-white/80">
				  May 30, 2021
				</p>
			  </div>
			</div>
			<!-- End Avatar -->
		  </div>
		</div>
  
		<div class="absolute bottom-0 inset-x-0 z-10">
		  <div class="flex flex-col h-full p-4 sm:p-6">
			<h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/80">
			  What CFR (Conversations, Feedback, Recognition) really is about
			</h3>
			<p class="mt-2 text-white/80">
			  For a lot of people these days, Measure What Matters.
			</p>
		  </div>
		</div>
	  </a>
	  <!-- End Card -->
	</div>
	<!-- End Grid -->
  </div>
  <!-- End Card Blog -->
   <!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">

	<!-- Grid -->
	<div class="grid items-center lg:grid-cols-12 gap-6 lg:gap-12">
	  <div class="lg:col-span-4">
		<!-- Stats -->
		<!-- <div class="lg:pe-6 xl:pe-12">
		  <p class="text-6xl font-bold leading-10 text-blue-600">
			92%
			<span class="ms-1 inline-flex items-center gap-x-1 bg-gray-200 font-medium text-gray-800 text-xs leading-4 rounded-full py-0.5 px-2 dark:bg-neutral-800 dark:text-neutral-300">
			  <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
				<path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
			  </svg>
			  +7% this month
			</span>
		  </p>
		  <p class="mt-2 sm:mt-3 text-gray-500 dark:text-neutral-500">of U.S. adults have bought from businesses using Space</p>
		</div> -->
		<!-- End Stats -->
	  </div>
	  <!-- End Col -->
  
	  <div class="lg:col-span-8 relative lg:before:absolute lg:before:top-0 lg:before:-start-12 lg:before:w-px lg:before:h-full lg:before:bg-gray-200 lg:before:dark:bg-neutral-700">
		<div class="grid gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-3 sm:gap-8">
		  <!-- Stats -->
		  <!-- <div>
			<p class="text-3xl font-semibold text-blue-600">99.95%</p>
			<p class="mt-1 text-gray-500 dark:text-neutral-500">in fulfilling orders</p>
		  </div> -->
		  <!-- End Stats -->
  
		  <!-- Stats -->
		  <div>
			<!-- <p class="text-3xl font-semibold text-blue-600">2,000+</p>
			<p class="mt-1 text-gray-500 dark:text-neutral-500">partner with Preline</p> -->
		  </div>
		  <!-- End Stats -->
  
		  <!-- Stats -->
		  <div>
			<!-- <p class="text-3xl font-semibold text-blue-600">85%</p>
			<p class="mt-1 text-gray-500 dark:text-neutral-500">this year alone</p> -->
		  </div>
		  <!-- End Stats -->
		</div>
	  </div>
	  <!-- End Col -->
	</div>
	<!-- End Grid -->
  </div>
  <!-- End Features -->
</Layout>

<style>
	.size-4 {
		width: 1.5rem;
		height: 1.5rem;
	}
  </style>
  
  <style>
	.size-4 {
		width: 1.5rem;
		height: 1.5rem;
	}
</style>
